
@{
    ViewBag.Title = "限時活動";
}

<link href="../../Content/css/activityList.css" rel="stylesheet" type="text/css" />

<div class="banner"></div>

<!-- 限時活動列表區塊 -->
<div class="container-fluid d-flex justify-content-center">
    <div class="col-lg-8">
        <div class="contain">
            <div class="col-lg-1 activeStatus">
                <a href="#/" class="badge badge-danger">限時活動</a>
            </div>

            <div class="col-lg-12 item" onclick="location.href='/Activity/Content'">
                <div class="row active d-flex justify-content-center">
                    <div class="wrapperCard card-img-top col-lg-3"
                         style="background-image: url('../../Content/images/19.jpg'); ">
                    </div>
                    <div class="content col-lg-9">
                        <h5 style="font-weight:bold;"> 文章標題</h5>
                        <p class="datetime"> ∙ 截止日 2020/03/23 </p>
                        <div class="limitLine">
                            文章內容
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="contain">
            <div class="col-lg-1 activeStatus">
                <a href="#/" class="badge badge-info">過去活動</a>
            </div>
            <div class="col-lg-12 item" onclick="location.href='#'">
                <div class="row active d-flex justify-content-center">
                    <div class="wrapperCard card-img-top col-lg-3"
                         style="background-image: url('../../Content/images/17.jpg'); ">
                    </div>
                    <div class="content col-lg-9">
                        <h4 style="font-weight:bold;"> 文章標題 </h4>
                        <p class="datetime"> ∙ 活動截止日 2020/03/23 </p>
                        <div class="limitLine">
                            文章內容
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- 限時活動列表區塊結束 -->

<a href="#" id="gotop">
    <i class="fa fa-angle-up"></i>
</a>
