
@{
    ViewBag.Title = "會員通知";
}

<link href="../../Content/css/notify.css" rel="stylesheet" type="text/css" />

<center>
    <h3>會員通知</h3>
    <hr class="highlight">
</center>
<div class="w-100"></div>

<div class="container-fluid">
    <div class="table row d-flex justify-content-center">
        <table class="table table-striped col-lg-8">
            <thead>
                <tr class="align-middle">
                    <th scope="col" class="table1 align-middle">編號</th>
                    <th scope="col" class="table2 align-middle center">內容</th>
                    <th scope="col" class="table3 align-middle">日期</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row" class="table1 align-middle"> 1 </th>
                    <td class="table2 align-middle">
                        <p> 訊息內容 </p>
                    </td>
                    <td class="table3 align-middle date"> 2020/03/28</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="#" id="gotop">
    <i class="fa fa-angle-up"></i>
</a>
