
@{
    ViewBag.Title = "官方推薦列表";
}


<link href="../../Content/css/recommend.css" rel="stylesheet" type="text/css" />

<center>
    <h3>推薦列表</h3>
    <hr class="highlight">
</center>


<div class="d-flex justify-content-center" style="margin-bottom:1.5em;">
    <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/movie/1'">
        電影類
    </button>
    <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/music/1'">
        音樂類
    </button>
    <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/book/1'">
        書籍類
    </button>
    <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/exhibition/1'">
        展覽類
    </button>
    <button type="button" class="btn btn-secondary footer" onclick="location.href='/recommendList/1'">全部</button>
</div>

<!-- Portfolio Section -->
<section id="portfolio">

    <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend">
        <!-- 推薦內容 -->
        @{
            int temp = 0;
            foreach (var item in ViewBag.RecommendList)
            {
                temp += 1;
                <div class="wrapper col-12  col-lg-2" style="background-image: url('../../Content/images/recommend/1571237146182--cTZDVm5aMllsS09lcUtV.jpg');">
                    <a class="portfolio-box" href='@Url.Action("Content", "Recommend")?recom_num=@item.RECOM_NUM'>
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                <p> @item.RECOM_CLASS </p>
                            </div>
                            <div class="project-name">
                                <p class="title">@item.RECOM_HEAD </p>
                                <p class="content wrapText">
                                    @item.RECOM_CONT
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                if (temp % 4 == 0) {
                    <div class="w-100"></div>
                }
            }
        }   
        <!-- 推薦結束 -->
    </div>

    <nav aria-label="Page navigation example" style="margin-bottom: 4em;">
        <ul class="pagination justify-content-center">
            <li class="page-item previous">
                <a class="page-link" href="#/" onclick="location.href=`/recommendList/${pagePrevious}`" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item next">
                <a class="page-link" href="#/" onclick="location.href=`/recommendList/${pageNext}`">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</section>

<a href="#" id="gotop">
    <i class="fa fa-angle-up"></i>
</a>

