
@{
    ViewBag.Title = "專欄";
}

<link href="~/Content/css/specialColumnList.css" rel="stylesheet" type="text/css" />

<!-- 封面區塊 -->
<div class="banner">
</div>

<!-- 封面區塊結束 -->
<div class="container-fluid d-flex justify-content-center">
    <div class="row content justify-content-center col-lg-9">
        <div class="col-lg-6 item" onclick="location.href='/SpecialColumn/Content'">
            <div class="photoContainer">
                <img class="photo" src="../../Content/images/17.jpg">
            </div>
            <h5>標題</h5>
        </div>
    </div>
</div>

<a href="#" id="gotop">
    <i class="fa fa-angle-up"></i>
</a>