
@{
    ViewBag.Title = "專欄發文";
}

<link href="~/Content/css/post.css" rel="stylesheet" type="text/css" />

<center>
    <h3>新增專欄</h3>
    <hr class="highlight">
</center>

<Section id="special">
    <div class="justify-content-center">
        <div class="post col-lg-7 content">
            <label class="btn btn-secondary col-lg-2" style="cursor: pointer">
                <input id="bannerInput" style="width: 3em; height: 3em;" type="file"
                       accept=".jpg,.png,.gif,.tif,.bmp" />
                <i class="fas fa-images" style="padding-right:5px"></i>Banner
            </label>
            <div id="bannerImg" style="width: 100%; margin-bottom: 1em;">
                <img style="width: 100%;" src="" alt="">
            </div>
            <input type="text" class="titleInput input-with-icon title" name="artiHead" id="artiHead"
                   placeholder="輸入專欄名稱">

            <div id="postInput" class="postInput" contenteditable="true" role="textbox" data-text="請輸入專欄內容"></div>

            <!-- <div class="text-right"> -->
            <label class="btn btn-dark col-lg-2" style="cursor: pointer">
                <input id="file-selector" name="userImg" type="file" multiple="multiple"
                       accept=".jpg,.png,.gif,.tif,.bmp" />
                <i class="fas fa-images" style="padding-right:5px"></i>加圖片
            </label>
            <!-- </div> -->
            <button type="submit" class="btn btn-danger col-lg-2 float-right postButton"
                    onclick="submitPost()">
                提交
            </button>

        </div>
    </div>

</Section>

<a href="#" id="gotop">
    <i class="fa fa-angle-up"></i>
</a>

<div class='coverContainer'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
